.aboutInfoMain {
  background-color: $primary100;
  color: $white;
  margin-top: 190px;
  position: relative;
  @media screen  and (max-width: 991px) {
    margin-top: 120px;
  }
  @media screen  and (max-width: 767px) {
    margin-top: 30px;
  }
  &:before {
    content: "";
    background-image: url('../../../assets/image/png/bg-shape.png');
    height: 220px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
  }
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translateX(-50%);
    background: radial-gradient(
      50% 50% at 50% 50%,
      #2d3090 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }
  .wrapper {
    position: relative;
    z-index: 2;
  }
  .aboutVideoMain {
    position: relative;
    top: 0;
    margin-top: -350px;
    margin-bottom: 93px;
    @media screen  and (max-width: 991px) {
      margin-top: -250px;
      margin-bottom: 80px;
    }
    @media screen  and (max-width: 767px) {
      margin-bottom: 50px;
    }
    @media screen  and (max-width: 575px) {
      margin-bottom: 0px;
      margin-top: -230px;
    }
  }
}
