.makeUsDifferentMain {
  margin-bottom: 40px;
  padding-bottom: 50px;
  @media screen and (max-width:767px) {
    margin-bottom: 44px;
    padding-bottom: 44px;
  }
  .wrapper {
    padding: 0 120px;
    @media screen and (max-width: 1199px) {
      padding: 0 15px;
    }
    @media screen and (max-width: 991px) {
      padding: 0;
    }
    @media screen and (max-width: 767px) {
      margin-top: 24px;
    }
    .singleBox {
      display: flex;
      gap: 24px;
      svg {
        min-width: 64px;
      }
      .content {
        h5 {
          font-family: "raleway-medium";
        }
        p {
          margin-top: 8px;
          font-size: 20px;
          line-height: 26px;
          color: $lightGray100;
          @media screen and (max-width:575px) {
            font-size: 18px; 
            line-height: 22px;
          }
        }
      }
    }
  }
}
