.ourServiceMain {
  position: relative;
  background-color: $primary100;
  padding-bottom: 135px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    padding-bottom: 100px;
  }
  @media screen and (max-width: 575px) {
    padding-bottom: 70px;
  }
  &::before {
    content: "";
    position: relative;
    z-index: 1;
    background-image: url("../../../assets//image/png//bg-shape1.png");
    height: 220px;
    display: block;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: 17% bottom;
    @media screen and (max-width: 991px) {
      height: 100px;
      background-position: 60% bottom;
    }
    @media screen and (max-width: 767px) {
      background-size: 270%;
      background-position: 68% 150%;
      height: 200px;
    }
    @media screen and (max-width: 575px) {
      height: 160px;
    }
    @media screen and (max-width: 479px) {
      height: 140px;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 10%;
    left: 50%;
    height: 160rem;
    width: 160rem;
    transform: translateX(-50%);
    background: radial-gradient(
      50% 50% at 50% 50%,
      #2d3090 0%,
      rgba(50, 15, 133, 0) 100%
    );
  }
  .wrapper {
    padding: 0 80px;
    @media screen and (max-width: 991px) {
      padding: 0;
      :global(.swiper-slide) {
        height: auto;
        &:global(:not(.swiper-slide-active)) {
          opacity: 0.5;
        }
      } 
    }
    .serviceBoxCol {
      padding: 0 20px;
    }
    .serviceBox {
      padding: 32px;
      border-radius: 20px;
      position: relative;
      height: 100%;
      min-height: 272px;
      overflow: hidden;
      @media screen and (max-width: 1199px) {
        padding: 24px;
        min-height: 220px;
      }
      @media screen and (max-width: 991px) {
        min-height: 100%;
      }
      &:hover {
        @media screen and (min-width: 992px) {   
          &::after {
            display: none;
          }
          .content {
            opacity: 0;
            visibility: hidden;
          }
          .gredientImage,
          .hoverContent {
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border: 1px solid transparent;
        background: linear-gradient(
            90deg,
            #0088ac -0.37%,
            #0054a6 117.31%,
            #662d91 234.99%
          )
          border-box;
        mask:
          linear-gradient(#fff 0 0) padding-box,
          linear-gradient(#fff 0 0);
        mask-composite: exclude;
        border-radius: 20px;
        pointer-events: none;
      }
      .gredientImage {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      .content {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: $white50;
        padding: 32px;
        transition: all 0.2s ease-in-out;
        @media screen and (max-width: 991px) {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          align-items: flex-start;
          flex-direction: column;
        }
        .headWrap {
          display: flex;
          align-items: center;
          gap: 12px;
          max-width: 285px;
          @media screen and (max-width: 1199px) {
            max-width: 265px;
          }
          @media screen and (max-width: 991px) {
            max-width: 100%;
            margin-bottom: 10px;
          }
          span {
            height: 16px;
            min-width: 16px;
            border-radius: 50%;
          }
        }
        h4 {
          font-family: "raleway-medium";
        }
        p {
          @media screen and (min-width: 992px) {   
            display: none;
          }
        }
        .seviceImage {
          position: relative;
          display: table;
          margin-left: auto;
          margin-top: auto;
          @media screen and (min-width: 992px) {
            position: absolute;
            bottom: 12px;
            right: 12px;
            margin: 0;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            height: 150%;
            width: 150%;
            transform: translate(-50%, -50%);
            background: radial-gradient(
              50% 50% at 50% 50%,
              #6264ff 0%,
              rgba(50, 15, 133, 0) 100%
            );
            z-index: -1;
            opacity: 0.4;
          }
          img {
            width: 250px;
            height: 250px;
            @media screen and (max-width: 1199px) {
              width: 160px;
              height: 160px;
            }
          }
        }
      }
      .hoverContent {
        text-align: center;
        max-width: 410px;
        margin: 0 auto;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        @media screen and (max-width: 991px) {
          display: none;
        }
        h4 {
          font-family: "raleway-bold";
          color: $white50;
        }
        p {
          margin: 16px auto 0;
          color: $white100;
          letter-spacing: 0.3px;
        }
      }
    }
  }
}
.btnOutline {
  margin: 16px 0 0 0;
  color: $white;
  background-color: transparent;
  border: 1px solid $white;
  padding: 12px 24px;
  padding: 0;
  &:hover {
    background-color: $white50;
    color: $primary;
  }
}
.scrollJourneyText {
  color: $lightGray100;
  text-align: center;
  margin-top: 10px;
  @media screen and (min-width: 992px) {
    display: none;
  }
}