.heroMain {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  h2 {
    font-size: 64px;
    line-height: 80px;
    font-family: "raleway-bold";
    color: $white;
    margin-bottom: 50px;
    max-width: 1120px;
  }
  span {
    font-family: "raleway-bold";
    font-size: 20px;
    line-height: 26px;
    color: $lightGray100;
  }
}
