.heroMain {
  height: 800px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  @media screen and (max-width: 991px) {
    height: 700px;
  }
  @media screen and (max-width: 767px) {
    height: 622px;
  }
  &.overlay{
    &::after{
      content: '';
      background: linear-gradient(270deg, rgba(34, 31, 115, 0) 0%, #0B0B3C 75.72%);
      background-blend-mode: multiply;
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
    }
  }
  .heroHeadingWrapper{
    @media screen and (max-width:767px) {
      padding: 0 16px;
    }
  }
  h2 {
    font-size: 64px;
    line-height: 80px;
    font-family: "raleway-bold";
    color: $white;
    margin-bottom: 50px;
    max-width: 1120px;
    @media screen and (max-width: 991px) {
      font-size: 58px;
      line-height: 70px;
    }
    @media screen and (max-width: 767px) {
      font-size: 50px;
      line-height: 60px;
    }
    @media screen and (max-width: 575px) {
      font-size: 40px;
      line-height: 54px;
      max-width: 80%;
      margin-bottom: 40px;
    }
  }
  span {
    font-family: "raleway-bold";
    font-size: 20px;
    line-height: 26px;
    color: $lightGray100;
  }
}
