.gitMain {
  background-color: $primary;
  border-radius: 20px;
  padding: 60px 48px;
  text-align: center;
  color: $white;
  position: relative;
  margin-bottom: 40px;
  .shape1 {
    position: absolute;
    top: 0;
    right: 0;
  }
  .shape2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .gitContent {
    margin-top: 32px;
    h2 {
      font-family: "raleway-semibold";
      max-width: 1050px;
      margin: 0 auto;
    }
    p {
      font-size: 20px;
      line-height: 26px;
      letter-spacing: 0.3px;
      margin-top: 24px;
      font-family: "raleway-light";
      &:first-of-type {
        margin-top: 16px;
      }
    }
  }
}
