// Variables
$primary: #2e3192;
$secondary: #0088ac;
$secondary100: #0054A6;
$primary100: #150958;
$darkGray: #010202;
$darkGray100: #3e3e40;
$darkGray200: #344054;
$darkGray300: #161616;
$lightGray: #667085;
$white: #ffffff;
$white50: #f7f7f8;
$purple: #662d91;
