// Variables
$primary: #2e3192;
$secondary: #0088ac;
$secondary100: #0054a6;
$primary100: #150958;
$darkGray: #010202;
$darkGray100: #3e3e40;
$darkGray200: #344054;
$darkGray300: #161616;
$lightGray: #667085;
$lightGray100: #939598;
$lightGray200: #636466;
$lightGray300: #F7F4F9;
$white: #ffffff;
$white50: #f7f7f8;
$white100: #f4f4f4;
$purple: #662d91;
$purple100: #623793;
$cyan: #0087AB;
$black: #000000;

