// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "raleway-regular";
  src:
    url("../assets/fonts/Raleway-Regular.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Regular.woff") format("woff"),
    url("../assets/fonts/Raleway-Regular.otf") format("opentype"),
    url("../assets/fonts/Raleway-Regular.svg") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "raleway-light";
  src:
    url("../assets/fonts/Raleway-Light.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Light.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Light.woff") format("woff"),
    url("../assets/fonts/Raleway-Light.otf") format("opentype"),
    url("../assets/fonts/Raleway-Light.svg") format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "raleway-medium";
  src:
    url("../assets/fonts/Raleway-Medium.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Medium.woff") format("woff"),
    url("../assets/fonts/Raleway-Medium.otf") format("opentype"),
    url("../assets/fonts/Raleway-Medium.svg") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "raleway-semibold";
  src:
    url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/Raleway-SemiBold.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-SemiBold.woff") format("woff"),
    url("../assets/fonts/Raleway-SemiBold.otf") format("opentype"),
    url("../assets/fonts/Raleway-SemiBold.svg") format("svg");
  font-weight: 600;
}
@font-face {
  font-family: "raleway-bold";
  src:
    url("../assets/fonts/Raleway-Bold.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Bold.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Bold.woff") format("woff"),
    url("../assets/fonts/Raleway-Bold.otf") format("opentype"),
    url("../assets/fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "raleway-black";
  src:
    url("../assets/fonts/Raleway-Black.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Black.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Black.woff") format("woff"),
    url("../assets/fonts/Raleway-Black.otf") format("opentype"),
    url("../assets/fonts/Raleway-Black.svg") format("svg");
  font-weight: 700;
}

body {
  font-family: "raleway-regular";
  overflow-x: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 48px;
  line-height: 60px;
  @media screen and (max-width: 1299px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media screen and (max-width: 991px) {
    font-size: 36px;
    line-height: 46px;
  }
  @media screen and (max-width: 425px) {
    font-size: 30px;
    line-height: 40px;
  }
}
h4 {
  font-size: 32px;
  line-height: 40px;
  @media screen and (max-width: 1399px) {
    font-size: 28px;
    line-height: 36px;
  }
  @media screen and (max-width: 1299px) {
    font-size: 26px;
    line-height: 34px;
  }
  @media screen and (max-width: 991px) {
    font-size: 24px;
    line-height: 32px;
  }
  @media screen and (max-width: 425px) {
    font-size: 20px;
    line-height: 26px;
  }
}
h5 {
  font-size: 28px;
  line-height: 36px;
  @media screen and (max-width: 1399px) {
    font-size: 26px;
    line-height: 34px;
  }
  @media screen and (max-width: 1299px) {
    font-size: 24px;
    line-height: 32px;
  }
  @media screen and (max-width: 991px) {
    font-size: 22px;
    line-height: 30px;
  }
  @media screen and (max-width: 425px) {
    font-size: 18px;
    line-height: 24px;
  }
}
.sub-head {
  gap: 32px;
  text-align: center;
  padding: 50px 0;
  color: $white;
  h2 {
    font-family: "raleway-semibold";
  }
  &.primary {
    color: $primary;
  }
}
.btn {
  margin-right: 35px;
  border: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 100;
  @media screen and (max-width: 375px) {
    font-size: 16px;
  }
  &.hide-arrow {
    margin-right: 0;
  }
  &:hover {
    background-color: transparent;
  }
  span {
    display: block;
    padding: 8px 16px;
    border-radius: 30px;
    line-height: 26px;
  }
  > svg {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      right: -40px;
    }
  }
  &.btn-primary {
    background-color: transparent;
    border: 0;
    span {
      background-color: $primary;
    }
  }
  background-color: transparent;
  &.btn-secondary {
    span {
      background-color: $secondary;
      color: $white;
    }
  }
  &.btn-white {
    background-color: transparent;
    border: 0;
    span {
      background-color: $white;
      color: $primary;
    }
  }
  &.btn-gradient {
    background: linear-gradient(
      90deg,
      $secondary -0.37%,
      $secondary100 49.81%,
      $purple 100%
    );
    color: $white;
  }
  &.btn-purple {
    background: $purple;
    color: $white;
  }
}
.text-gray {
  color: $lightGray200;
}

// Line Head
.lineHead {
  h5 {
    font-size: 28px;
    font-weight: 300;
    color: $secondary;
    font-family: "raleway-medium";
    @media screen and (max-width: 991px) {
      font-size: 26px;
    }
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
    @media screen and (max-width: 575px) {
      font-size: 22px;
      line-height: 28px;
    }
    span {
      color: $primary;
      font-family: "raleway-bold";
      margin-right: 8px;
    }
    &.white {
      color: $white;
    }
  }
  svg {
    @media screen and (max-width: 767px) {
      max-width: 104px;
    }
  }
}

.small-curve-line {
  @media screen and (max-width: 991px) {
    display: none;
  }
}

.big-curve-line {
  display: none;
  @media screen and (max-width: 991px) {
    display: inline-block;
  }
}
