// @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "raleway-regular";
  src:
    url("../assets/fonts/Raleway-Regular.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Regular.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Regular.woff") format("woff"),
    url("../assets/fonts/Raleway-Regular.otf") format("opentype"),
    url("../assets/fonts/Raleway-Regular.svg") format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "raleway-light";
  src:
    url("../assets/fonts/Raleway-Light.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Light.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Light.woff") format("woff"),
    url("../assets/fonts/Raleway-Light.otf") format("opentype"),
    url("../assets/fonts/Raleway-Light.svg") format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "raleway-medium";
  src:
    url("../assets/fonts/Raleway-Medium.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Medium.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Medium.woff") format("woff"),
    url("../assets/fonts/Raleway-Medium.otf") format("opentype"),
    url("../assets/fonts/Raleway-Medium.svg") format("svg");
  font-weight: 500;
}
@font-face {
  font-family: "raleway-semibold";
  src:
    url("../assets/fonts/Raleway-SemiBold.ttf") format("truetype"),
    url("../assets/fonts/Raleway-SemiBold.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-SemiBold.woff") format("woff"),
    url("../assets/fonts/Raleway-SemiBold.otf") format("opentype"),
    url("../assets/fonts/Raleway-SemiBold.svg") format("svg");
  font-weight: 600;
}
@font-face {
  font-family: "raleway-bold";
  src:
    url("../assets/fonts/Raleway-Bold.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Bold.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Bold.woff") format("woff"),
    url("../assets/fonts/Raleway-Bold.otf") format("opentype"),
    url("../assets/fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: "raleway-black";
  src:
    url("../assets/fonts/Raleway-Black.ttf") format("truetype"),
    url("../assets/fonts/Raleway-Black.eot") format("embedded-opentype"),
    url("../assets/fonts/Raleway-Black.woff") format("woff"),
    url("../assets/fonts/Raleway-Black.otf") format("opentype"),
    url("../assets/fonts/Raleway-Black.svg") format("svg");
  font-weight: 700;
}

body {
  font-family: "raleway-regular";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h2 {
  font-size: 48px;
  line-height: 60px;
  @media screen and (max-width: 1299px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media screen and (max-width: 991px) {
    font-size: 36px;
    line-height: 46px;
  }
}
h5 {
  font-size: 28px;
  line-height: 36px;
  @media screen and (max-width: 1399px) {
    font-size: 26px;
  }
  @media screen and (max-width: 1299px) {
    font-size: 24px;
  }
  @media screen and (max-width: 991px) {
    font-size: 22px;
  }
}
.sub-head {
  gap: 32px;
  text-align: center;
  padding: 50px 0;
  color: $white;
  font-family: "raleway-semibold";
  &.primary {
    color: $primary;
  }
}
.btn {
  margin-right: 35px;
  border: 0;
  padding: 0;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  font-size: 20px;
  font-weight: 100;
  &:hover {
    background-color: transparent;
  }
  span {
    display: block;
    padding: 6px 20px;
    border-radius: 30px;
  }
  > svg {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    svg {
      right: -40px;
    }
  }
  &.btn-primary {
    background-color: transparent;
    border: 0;
    span {
      background-color: $primary;
    }
  }
  &.btn-white {
    background-color: transparent;
    border: 0;
    span {
      background-color: $white;
      color: $primary;
    }
  }
}

// header style
.header {
  backdrop-filter: blur(20px);
  box-shadow: 0px 2px 4px 0px #00000040;
  border-radius: 0 0 20px 20px;
  padding: 18px 0;
  .navbar-nav {
    gap: 30px;
    .nav-link {
      color: $darkGray;
      position: relative;
      font-weight: 100;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $darkGray;
        transition: all 0.3s ease-in-out;
      }
      .menu-badge {
        background-color: $primary;
        position: absolute;
        top: -10px;
        border-radius: 10px;
        color: $white;
        padding: 0 8px;
        right: -10px;
        font-size: 10px;
      }
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }
}

// Footer Style
footer {
  padding: 300px 0 54px;
  background-image: url(../assets/image/png/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  .footer-wrapper {
    padding: 32px;
    background-color: rgba($white, 0.8);
    border-radius: 16px;
  }
  .footer-logo-main {
    p {
      color: $darkGray200;
      margin-top: 8px;
      font-size: 14px;
    }
  }
  .footer-list-main {
    h6 {
      font-family: "raleway-light";
      font-size: 15px;
      line-height: 24px;
    }
    .footer-list2 {
      li {
        align-items: start;
        svg {
          margin-top: 3px;
        }
      }
    }
    li {
      display: flex;
      align-items: center;
      gap: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      &:last-of-type {
        margin: 0;
      }
      span {
        font-family: "raleway-medium";
        display: block;
      }
      svg {
        min-width: 14px;
      }
    }
  }
  .lower-footer {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social-icon-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      .social-icon {
        height: 24px;
        width: 24px;
        background-color: $darkGray300;
        color: $white;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $primary;
        }
      }
    }
    .privacy-policy-wrapper {
      color: $lightGray;
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 20px;
      line-height: 17px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
