@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (max-width: 991px) {
  footer {
    .footer-logo-main {
      img {
        max-width: 150px;
      }
      p {
        font-size: 13px;
      }
    }
    .footer-list-main {
      font-size: 13px;
      li {
        gap: 8px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .gitMain {
    padding: 80px 24px;
  }
  footer {
    .footer-logo-main {
      img {
        max-width: 202px;
      }
      p {
        font-size: 14px;
      }
      margin-bottom: 65px;
    }
  }
}
@media screen and (max-width: 575px) {
  footer {
    .footer-list-main {
      font-size: 16px;
    }
  }
}
