@media screen and (max-width: 1399px) {
}
@media screen and (max-width: 1199px) {
}
@media screen and (min-width: 992px) {
  header {
    .header {
      .navbar-nav {
        .nav-link {
          &:hover {
            .dropdown-menu-main {
              opacity: 1;
              visibility: visible;
              transform: translate(-50%, 0);
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header {
    .header {
      .navbar-nav {
        .position-relative:has(> .nav-link) {
          width: 100%;
          padding: 12px 32px;
          width: 100%;
          .nav-link {
            .menu-badge {
              left: 102%;
              right: unset;
              top: -6px;
            }
            // .dropdown-menu-main {
            //   position: static;
            //   transform: translate(0);
            //   opacity: 1;
            //   visibility: visible;
            //   width: auto;
            //   padding: 0;
            //   background-color: transparent;
            //   margin-top: 9px;
            //   width: calc(100% + 64px);
            //   margin-left: -32px;
            //   .dropdown-menu-wrapper {
            //     width: auto;
            //     padding: 17px 32px;
            //     border-radius: 0;
            //     a {
            //       display: block;
            //       white-space: normal;
            //       font-size: 14px;
            //       line-height: 16.44px;
            //     }
            //   }
            // }
          }
          .arrow {
            position: absolute;
            top: 24px;
            right: 32px;
            transform: translateY(-50%);
            height: 20px;
            width: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  footer {
    .footer-logo-main {
      img {
        max-width: 150px;
      }
      p {
        font-size: 13px;
      }
    }
    .footer-list-main {
      font-size: 13px;
      li {
        gap: 8px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .gitMain {
    padding: 80px 24px;
  }
  footer {
    .footer-logo-main {
      img {
        max-width: 202px;
      }
      p {
        font-size: 14px;
      }
      margin-bottom: 65px;
    }
  }
}
@media screen and (max-width: 575px) {
  footer {
    .footer-list-main {
      font-size: 16px;
    }
  }
}
