// Footer Style
footer {
  padding: 300px 0 54px;
  background-image: url(../assets/image/png/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 9;
  .footer-wrapper {
    padding: 32px;
    background-color: rgba($white, 0.8);
    border-radius: 16px;
  }
  .footer-logo-main {
    p {
      color: $darkGray200;
      margin-top: 8px;
      font-size: 14px;
    }
  }
  .footer-list-main {
    h6 {
      font-family: "raleway-light";
      font-size: 15px;
      line-height: 24px;
    }
    .footer-list2 {
      li {
        align-items: start;
        svg {
          margin-top: 3px;
        }
      }
    }
    li {
      display: flex;
      align-items: center;
      gap: 16px;
      line-height: 24px;
      margin-bottom: 8px;
      &:last-of-type {
        margin: 0;
      }
      span {
        font-family: "raleway-medium";
        display: block;
      }
      svg {
        min-width: 14px;
      }
    }
  }
  .lower-footer {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social-icon-wrapper {
      display: flex;
      align-items: center;
      gap: 8px;
      .social-icon {
        height: 24px;
        width: 24px;
        background-color: $darkGray300;
        color: $white;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $primary;
        }
      }
    }
    .privacy-policy-wrapper {
      color: $lightGray;
      font-size: 12px;
      display: flex;
      align-items: center;
      gap: 20px;
      line-height: 17px;
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
