.header {
  box-shadow: 0px 2px 4px 0px #00000040;
  border-radius: 0 0 20px 20px;
  background-color: $white;
  z-index: 99;
  position: absolute;
  width: 100%;
  transition: all 0.3s ease-in-out;
  @media screen and (max-width: 991px) {
    padding: 18px 0;
  }
  &.fixedTop {
    position: fixed;
    z-index: 999;
    background-color: rgba($white, 0.8);
    backdrop-filter: blur(5px);
    animation: fadeDown 0.2s linear;
  }
  @keyframes fadeDown {
    0% {
      transform: translateY(-100%);
      top: 0;
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .logo {
    @media screen and (max-width: 575px) {
      max-width: 153px;
    }
  }
  .navCollapse {
    @media screen and (max-width: 991px) {
      position: fixed;
      z-index: 999;
      right: -350px;
      top: 0;
      height: 100vh;
      max-height: 100dvh;
      overflow-y: auto;
      background-color: $white;
      box-shadow: -10px 0 30px rgba(200, 200, 200, 0.3);
      max-width: 250px;
      transition: all 0.3s ease-in-out;
      padding-bottom: 50px;
      display: block;
      &:global(.show) {
        right: 0;
      }
      // &::after {
      //   content: "";
      //   position: fixed;
      //   top: 0;
      //   left: 0;
      //   height: 100vh;
      //   width: 100%;
      //   background-color: rgba($black, 0.2);
      // }
    }
  }
  .navbarNav {
    gap: 30px;
    padding: 28px 0;
    @media screen and (max-width: 991px) {
      gap: 0;
      padding-top: 125px;
    }
    .dropdown-toggle.navLink {
      &::after {
        border: 0;
      }
    }
    .navLinkWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 991px) {
        padding: 12px 32px;
        width: 100%;
        flex-wrap: wrap;
      }
      &:hover {
        @media screen and (min-width: 992px) {
          & .dropdownMainWrapper {
            opacity: 1;
            visibility: visible;
            transform: translate(-50%, 0);
          }
        }

        .navLink {
          &::after {
            width: 100%;
          }
        }
      }
      .arrow {
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
    }
    .navLink {
      color: $darkGray;
      font-weight: 100;
      padding: 0;
      position: relative;
      width: max-content;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 0;
        background-color: $darkGray;
        transition: all 0.3s ease-in-out;
      }
      .menuBadge {
        background-color: $primary;
        position: absolute;
        top: -10px;
        border-radius: 10px;
        color: $white;
        padding: 0 8px;
        left: 90%;
        font-size: 10px;
        @media screen and (max-width: 991px) {
          left: 102%;
          top: -6px;
        }
      }
    }
    .dropdownMainWrapper {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 15px);
      padding-top: 45px;
      transition: all 0.2s ease-in-out;
      z-index: 1000;
      @media screen and (max-width: 991px) {
        height: 0;
        overflow: hidden;
        position: static;
        transform: translate(0);
        opacity: 1;
        visibility: visible;
        width: auto;
        padding: 0;
        transition: all 0s;
        &.menuOpen {
          height: 100%;
          overflow: visible;
          margin-top: 9px;
        }
      }
    }
    .dropdownMenuMain {
      background: $white;
      width: max-content;
      box-shadow: 0px 0px 50px rgba(167, 174, 186, 0.2);
      border-radius: 16px;
      height: auto;
      padding: 20px;
      position: relative;
      @media screen and (max-width: 991px) {
        padding: 0;
        background-color: transparent;
        width: calc(100% + 64px);
        margin-left: -32px;
      }
      .arrow {
        position: absolute;
        bottom: 99.9%;
        left: 50%;
        transform: translateX(-50%);
        height: 11px;
        @media screen and (max-width: 991px) {
          display: none;
        }
      }
      .dropdownMenuWrapper {
        background: #9395981a;
        border-radius: 16px;
        padding: 24px;
        width: max-content;
        @media screen and (max-width: 991px) {
          width: auto;
          padding: 17px 32px;
          border-radius: 0;
        }
        a {
          padding: 8px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: rgba($black, 0.7);
          transition: all 0.2s ease-in-out;
          &:hover {
            background-color: transparent;
            color: $primary;
          }
          @media screen and (max-width: 991px) {
            display: block;
            white-space: normal;
            font-size: 14px;
            line-height: 16.44px;
          }
          .btn {
            span {
              display: flex;
              align-items: center;
              gap: 8px;
              color: $primary;
              font-size: 14px;
              padding: 0;
            }
          }
        }
      }
    }
  }
  .selectWrapper {
    position: relative;
    .downArrow {
      display: none;
      @media screen and (max-width: 991px) {
        display: block;
        position: absolute;
        top: 28px;
        transform: translateY(-50%);
        right: 40px;
        pointer-events: none;
      }
    }
  }
  .menuToggleBtn,
  .closeIcon {
    padding: 0;
    border: 0;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }
    &:focus-visible {
      outline: 0;
    }
  }
  .menuToggleBtn {
    margin-right: 20px;
  }
  .closeIcon {
    color: $primary;
    position: absolute;
    top: 67px;
    right: 30px;
  }
}
