.ourApproachMain {
  margin-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  @media screen and (max-width: 575px) {
    margin-top: 24px;
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    .description {
      color: $secondary;
      font-size: 20px;
      line-height: 26px;
    }
    button {
      margin-top: 32px;
    }
  }
}
