.ourApproachMain {
  margin: 40px 0;
  padding-bottom: 50px;
  text-align: center;
  .wrapper {
    max-width: 960px;
    margin: 0 auto;
    .description {
      color: $secondary;
      font-size: 20px;
      line-height: 26px;
      margin-top: -42px;
    }
    button {
      margin-top: 32px;
    }
  }
}
